<a href="https://colab.research.google.com/github/Ru1chi/Feynn_Labs/blob/main/Copy_of_session_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
for i in range(len(test_list)):
  for j in range(i+1,len(test_list)):
    if test_list[i][0]==test_list[j][0]:
      test_list[i]=test_list[i]+test_list[j]
      test_list.pop(j)

      break
print(test_list)

[(5, 6, 5, 7), (5, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
t1 = (1, 5, 7, 8, 10)
t2 = ()  # Initialize an empty tuple for the result

# Iterate using indices to access elements correctly
for i in range(len(t1)):
    if i == 0:  # Handle the first element
        t2 = (t1[0] * t1[1],)
    elif i < len(t1) - 1:  # Handle elements in the middle
        t2 += (t1[i - 1] * t1[i] + t1[i] * t1[i + 1],)  # Add element by element
    else:  # Handle the last element
        t2 += (t1[i - 1] * t1[i],)

print(t2)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)
if t1==t2:
  print("t1 and t2 are same")
else:
  print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

list_count=0
set_count=0
tuple_count=0

for i in list1:
  if type(i)==list:
    list_count+=1
  elif type(i)==set:
    set_count+=1
  elif type(i)==tuple:
    tuple_count+=1

print("List-",list_count)
print("Set-",set_count)
print("Tuples-",tuple_count)

List- 2
Set- 2
Tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
records=int(input("Enter No of records- "))
if records>0:
  students=[]
  for i in range(records):
    print("Enter the details of student",i+1)
    student_name=input("Enter Student name- ")
    higher_education=input("Enter Higher Education- ")
    primary_skill=input("Enter Primary Skill- ")
    year_of_graduation=input("Enter Year of Graduation- ")
    students.append((student_name,higher_education,primary_skill,year_of_graduation))


  students=tuple(students)


  print(students)

Enter No of records- 2
Enter the details of student 1
Enter Student name- xvdcv
Enter Higher Education- dvxc
Enter Primary Skill- dsvxc
Enter Year of Graduation- fbxv
Enter the details of student 2
Enter Student name- vx
Enter Higher Education- fvbcgn
Enter Primary Skill- bgc
Enter Year of Graduation- fxv
(('xvdcv', 'dvxc', 'dsvxc', 'fbxv'), ('vx', 'fvbcgn', 'bgc', 'fxv'))

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

set1=set(ar1)
set2=set(ar2)
set3=set(ar3)

common_elements=set1.intersection(set2,set3)
print(common_elements)

{80, 20}

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels=set("aeiouAEIOU")
unique_vowels=set()

for char in Str1:
  if char in vowels:
    unique_vowels.add(char)

print("No of unique vowels-",len(unique_vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
string=str(input("str ="))
unique_char=set(string)

if len(unique_char)==2:
  print('yess')

else:
  print("No")

str =campusx
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
list1=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

set1=set()
for i in list1:
  l=set(i)
  set1=set1.union(l)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
lst1.intersection(lst2)#normal

{4, 5, 9, 10}

In [ ]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
list3={i for i in lst1 if i in lst2}
print(list3)

{9, 26, 11, 28}

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [8]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
max_key=max(test_dict,key=lambda x:len(set(test_dict[x])))
print(max_key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [11]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

words=test_str.split()
new_words=[]
for word in words:
  if word in repl_dict:
    new_words.append(repl_dict[word])
  else:
    new_words.append(word)

new_str=" ".join(new_words)
print(new_str)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [21]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]

op=[{key_list[0]:test_list[i],key_list[1]:test_list[i+1]}
for i in range(0,len(test_list),2)]

print(op)

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [31]:
list1=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]


op={key:[value] for key,value in list1}
op

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [35]:
dict1={'c': [3], 'b': [12, 10], 'a': [19, 4]}
op={key:sorted(value) for key,value in sorted(dict1.items())}

op

{'a': [4, 19], 'b': [10, 12], 'c': [3]}