<a href="https://colab.research.google.com/github/Ru1chi/Feynn_Labs/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data",'Science','Mentorship','Program','strted','By','CampusX',sep="-")

Data-Science-Mentorship-Program-strted-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [2]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 100
100.00 Celsius is: 212.00 Fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [3]:
n=int(input())
m=int(input())
n=m+n
m=n-m
n=n-m
print(n,m)

3
5
5 3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
import math
a1,b1=map(float,input().split())
a2,b2=map(float,input().split())
euclidian=math.sqrt((a2-a1)**2+(b2-b1)**2)
print(euclidian)

3 5
2 6
1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [2]:
head=int(input("heads:"))
legs=int(input("legs:"))

def dog_chicken(head,legs):
    for x in range(head+1):
        y=head-x
        if 2*x+4*y==legs:
            return x,y
    return None


print(dog_chicken(head,legs))

heads:4
legs:12
(2, 2)

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [3]:
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+i**2
print(sum)

3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [8]:
t1=int(input())
t2=int(input())
n=int(input())

def arithmatic(t1,t2,n):
    d=t2-t1
    t_n=t1+(n-1)*d
    return t_n
print("the ",n,"th term in the series is:",arithmatic(t1,t2,n))

3
7
5
the  5 th term in the series is: 19

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [14]:
num1=int(input())
deno1=int(input())

num2=int(input())
deno2=int(input())

def sum(num1,deno1,num2,deno2):
    num=num1*deno2+num2*deno1
    deno=deno1*deno2
    return num,deno

num, deno = sum(num1,deno1,num2,deno2)

print("the sum of given 2 fraction =",num,"/",deno)

2
3
4
7
the sum of given 2 fraction = 26 / 21

33### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm